body {
    max-width: 100%;
    overflow-x: hidden;
    background: black;
    color: ghostwhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: center;
}

.container {
    place-items: center;
    text-align: center;
}

#fade {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); 
    animation: fade 6s ease-in;
}

#brighten {
     position: fixed;
     top: 60%;
     left:50%;
     transform: translate(-50%, -50%); 
     font-weight: bold;
     font-style: italic;
     animation: bright 4s ease-in;
     pointer-events: none;
 }

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}  

@keyframes bright{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 25%;
    }

    75%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}
